main {
    flex: 1 calc(100dvh - 57px - 73px);
}

h1.share {
    margin-top: 72px !important;
}

div.progress {
    margin-bottom: 72px !important;
}

.flex-even {
    flex: 1;
}

#qr {
    filter: blur(1rem);
}